<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>录像</title>
  </head>
  <body>
    <div>直播id：<span class="title"></span></div>
    <video width="320" height="320" autoplay></video>
  </body>
  <script src="https://cdn.socket.io/socket.io-3.0.5.min.js"></script>
  <script>
    let socket = io();
    let video = document.querySelector("video");
    var canvas = document.createElement("canvas");
    canvas.width = 320;
    canvas.height = 320;
    var context = canvas.getContext("2d");
    let cameraId = Date.now();
    document.querySelector(".title").innerText = cameraId;

    function currentMsg() {
      context.drawImage(video, 0, 0, 320, 320);
      return canvas.toDataURL("image/jpeg", 0.6);
    }
    if (navigator.mediaDevices) {
      navigator.mediaDevices
        .getUserMedia({ video: { width: 320, height: 320 } })
        .then((mediaStream) => {
          video.srcObject = mediaStream;
          socket.on("connect", function () {
            socket.to(cameraId).emit("create-camera", cameraId);
            socket.to(cameraId).emit("fps", { cameraId, data: currentMsg() });
            console.log("connected!!");
          });
          socket.on("received", function (res) {
            if (res.cameraId == cameraId) {
              socket.to(cameraId).emit("fps", { cameraId, data: currentMsg() });
            }
          });
          socket.on("disconnect", function () {});
        });
    }
  </script>
</html>
