<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>录像</title>
  </head>
  <body>
    <div>直播id：<span class="title"></span></div>
    <video width="320" height="320" autoplay></video>
  </body>
  <script src="/js/socket.io-3.0.5.min.js"></script>
  <script>
    let socket = io();
    let video = document.querySelector("video");
    var canvas = document.createElement("canvas");
    canvas.width = 320;
    canvas.height = 320;
    var context = canvas.getContext("2d");
    let cameraId = 0;

    function base64() {
      context.drawImage(video, 0, 0, 320, 320);
      return canvas.toDataURL("image/jpeg", 0.1);
    }
    if (navigator.mediaDevices) {
      navigator.mediaDevices
        .getUserMedia({ video: { width: 320, height: 320 } })
        .then((mediaStream) => {
          video.srcObject = mediaStream;

          document.querySelector(".title").innerHTML = socket.id;
          socket.emit("fps", base64());

          socket.on("connect", function (e) {
            console.log("connected!!", socket.id);
            socket.emit("fps", base64());
          });
          socket.on("received", function (res) {
            socket.emit("fps", base64());
          });
          socket.on("disconnect", function () {
            console.log("disconnect");
          });
        });
    }
  </script>
</html>
