<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>接收</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        text-align: center;
      }
      img {
        width: 500px;
        max-width: 100vw;
      }
    </style>
  </head>
  <body>
    <div>
      <input class="cid" type="text" placeholder="请输入直播id" /><button>
        确定
      </button>
    </div>
    <img />
  </body>
  <script src="/js/socket.io-3.0.5.min.js"></script>
  <script src="/js/main.js"></script>
</html>
